<!-- Header Component -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand d-flex align-items-center" href="../index.html">
        <img src="../images/logo.png" alt="Sungabha Logo" width="40" height="40" class="me-2">
        <span class="fw-bold">SUNGABHA</span>
      </a>

      <!-- Mobile Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../programs.html">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../admission.html">Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../news-events.html">News & Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Student Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="../student-forms.html">Student Forms</a></li>
              <li><a class="dropdown-item" href="../payment-notice.html">Payment Notice</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../blogs.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> 